.navigation {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px solid rgb(160, 160, 160);
}

.navigation a {
    color: white;
    font-size: 1.325rem;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.navigation a:hover {
    color: darkolivegreen;
    font-style: italic;
}

.navigation button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    position: relative;
}

.navigation button:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.navigation button:hover {
    color: rgb(124, 161, 60);
}
