.navigation {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 2px solid rgb(160, 160, 160);
}

.navigation a {
    color: white;
    font-size: 1.325rem;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.navigation a:hover {
    color: darkolivegreen;
    font-style: italic;
}

.navigation button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
    position: relative;
}

.navigation button:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.navigation button:hover {
    color: rgb(124, 161, 60);
}

.nav-item {
    margin: 0 100px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width:1300px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: auto;
    }

    .nav-item {
        margin: 16px 0;
        padding: 10px;
    }

    .nav-menu.active {
        left: 0;
    }
}
